.books-page {
  .books-page__container {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: var(--space-medium);

    .books-page__settings {
      display: flex;
      align-items: center;
      margin-bottom: var(--space-medium);
      gap: var(--space-small);

      .books-page__grid-type {
        fill: var(--inactive-text-color);
        cursor: pointer;

        &.active, &:hover {
          fill: var(--active-element-color);
        }
      }
    }
  }

  .books-page__best-book {
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-medium);
    padding: var(--space-large) max(calc((100vw - 1335px) / 2), var(--space-medium));
    margin-bottom: var(--space-medium);

    .books-page__best-book__actions{
      margin-right: var(--space-small)
    }

    .books-page__best-book__title {
      color: var(--active-text-color);
      padding-bottom: 0;
    }

    .books-page__best-book__content {
      width: 100%;
      flex-basis: 100%;
      flex-grow: 1;
      display: grid;
      grid-template-columns: 180px 1fr;
      grid-gap: var(--space-medium);

      .books-page__best-book__cover {
        width: 180px;
        height: 260px;
        border-radius: var(--border-radius-small);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        &.books-page__best-book__cover_empty {
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .books-page__best-book__rating-wrapper {
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #fff;
          border-top-right-radius: var(--border-radius-small);
          padding: var(--space-very-small);
          display: flex;
          align-items: center;

          img {
            height: var(--text-fs-small);
            width: var(--text-fs-small);
          }

          .books-page__best-book__rating {
            font-size: var(--text-fs-small);
            margin-left: var(--space-very-small);
          }
        }
      }

      .books-page__best-book__info {
        display: flex;
        flex-direction: column;
        gap: var(--space-medium);

        .books-page__best-book__name {
          font-family: 'Zen Antique', serif;
          font-size: var(--title-fs-large);
          color: var(--active-text-color);
        }

        .books-page__best-book__author {
          color: var(--active-text-color);
        }

        .books-page__best-book__add-info {
          color: var(--inactive-text-color);
        }
      }
    }
  }

  .books-page__catalog_header {
    display: flex;
    justify-content: space-between;
    gap: var(--space-large);
  }

  .books-page__catalog {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-medium);
    padding-top: 0;

    .books-page__catalog__subtitle_wrapper {
      display: flex;
      gap: var(--space-medium);
      flex-basis: 100%;
      flex-grow: 1;
      margin-bottom: var(--space-medium);
      white-space: nowrap;
      align-items: center;

      .books-page__catalog__subtitle {
        color: var(--inactive-text-color);
        padding-bottom: 0;
      }

      hr {
        background-color: var(--active-element-background-color);
        color: var(--active-element-background-color);
        height: 1px;
        width: 100%;
      }
    }
  }

  .books-page__empty-catalog {
    text-align: center;
    color: var(--inactive-text-color);
  }
}

@media(max-width: 560px) {
  .books-page {
    .books-page__catalog_header {
      flex-direction: column;
      align-items: center;
      gap: var(--space-small);
    }

    .books-page__best-book {
      .books-page__best-book__content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media(max-width: 420px) {
  .books-page {
    .books-page__catalog {
      justify-content: center;
    }
  }
}