.book-table__wrapper {
  padding: 0 max(var(--space-medium), calc(50% - var(--container-width) / 2));
  width: 100%;

  .book-table__rating-wrapper {
    border-top-right-radius: var(--border-radius-small);
    padding: var(--space-very-small);

    .book-table__rating {
      font-size: var(--text-fs-small);
      margin-left: var(--space-very-small);
    }

    .book-table__rating-icon {
      margin-left: var(--space-very-small);
      height: var(--text-fs-small);
      width: var(--text-fs-small);
    }
  }

  .book-table__actions {
    border-bottom-left-radius: var(--border-radius-small);
    padding: var(--space-very-small);
    display: flex;
    align-items: center;
    gap: var(--space-small);

    .book-table__action {
      width: var(--text-fs-medium);
      height: var(--text-fs-medium);
      cursor: pointer;
    }
  }
}
