:root {


  /* Border radius. */
  --border-radius-large: 30px;
  --border-radius-small: 5px;

  /* Padding */
  --space-medium: 16px;
  --space-small: 10px;
  --space-very-small: 3px;

  /* Colors */
  --background-color: #F6F5F7;
  --inactive-text-color: #828087;
  --active-element-color: #573BA3;
  --active-element-background-color: #ebe5ff;

  /* Font Size */
  --root-fs: 16px;

  --text-fs-small: calc(var(--root-fs) * 0.8125);
  --text-fs-medium: var(--root-fs);
  --text-fs-large: calc(var(--root-fs) * 1.25);
  --title-fs-medium: calc(var(--root-fs) * 1.5625);
  --title-fs-large: calc(var(--root-fs) * 1.875);
}

html {
  font-size: var(--root-fs);
}