:root {

  /* Border radius. */
  --border-radius-large: 30px;
  --border-radius-small: 5px;

  /* Padding */
  --space-large: 30px;
  --space-medium: 16px;
  --space-small: 10px;
  --space-very-small: 5px;

  /* Colors */
  --background-color: #F6F5F7;
  --inactive-text-color: #828087;
  --active-element-color: #573BA3;
  --active-text-color: #2B0F42;
  --active-element-background-color: #ebe5ff;
  --secondary-background-color: #FFF1E6;
  --red: #de2454;

  /* Font Size */
  --root-fs: 16px;

  --text-fs-small: calc(var(--root-fs) * 0.875);
  --text-fs-medium: var(--root-fs);
  --text-fs-large: calc(var(--root-fs) * 1.125);
  --title-fs-small: calc(var(--root-fs) * 1.25);
  --title-fs-medium: calc(var(--root-fs) * 1.5625);
  --title-fs-large: calc(var(--root-fs) * 1.875);

  /* Box Shadow */
  --box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  --box-shadow-hover: 0px 11px 18px rgba(0, 0, 0, 0.3);

  /** Container. */
  --container-width: 1335px;
}

html {
  font-size: var(--root-fs);
}