.ant-input-search {
  .ant-input-group {
    .ant-input {
      background-color: var(--background-color);
      border-radius: var(--border-radius-large);
      border-start-end-radius: 0;
      border-end-end-radius: 0;
      padding: var(--space-small) var(--space-medium);
      border-color: var(--background-color);
      box-shadow: var(--background-color);

      &:hover, &:focus, &:active {
        border-color: var(--active-element-color);
      }
    }

    .ant-input-group-addon {
      border-radius: var(--border-radius-large);

      &:last-child {
        .ant-input-search-button {
          background-color: var(--background-color);
          padding: var(--space-small) var(--space-medium);
          border-radius: var(--border-radius-large);
          border-start-start-radius: 0;
          border-end-start-radius: 0;
          height: 100%;
          width: auto;
          border-color: var(--background-color);

          &:hover, &:focus, &:active {
            border-color: var(--active-element-color);
          }

          .ant-btn-icon {
            color: var(--active-element-color);
          }
        }
      }
    }
  }
}